In [2]:
import sqlalchemy
engine = sqlalchemy.create_engine('postgresql://postgres:042711@localhost:2705/mei_database')
%load_ext sql
%sql $engine.url

In [3]:
%%sql

DROP TABLE IF EXISTS game_sales_data;
CREATE TABLE game_sales_data(
    rank NUMERIC,
    name VARCHAR(500),
    platform VARCHAR(10),
    publisher VARCHAR(100),
    developer VARCHAR(500),
    critic_score NUMERIC,
    user_score NUMERIC,
    total_shipped NUMERIC,
    year INT
    );

COPY game_sales_data
FROM 'D:\OneDrive - ftu.edu.vn (1)\WORKING SPACE\DATA ANALYSIS\DATACAMP\Project\When Was the Golden Age of Video Games\game_sales_data.csv'
DELIMITER ','
csv header encoding 'windows-1251';

 * postgresql://postgres:***@localhost:2705/mei_database
(psycopg2.errors.DependentObjectsStillExist) cannot drop table game_sales_data because other objects depend on it
DETAIL:  view game_sales depends on table game_sales_data
view reviews depends on table game_sales_data
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL: DROP TABLE IF EXISTS game_sales_data;]
(Background on this error at: https://sqlalche.me/e/14/2j85)

In [4]:
%%sql
DROP VIEW IF EXISTS game_sales;
CREATE VIEW game_sales AS
SELECT name, platform, publisher, developer, total_shipped, year
FROM game_sales_data;

SELECT * FROM game_sales
WHERE name = 'Minecraft'
LIMIT 5;

 * postgresql://postgres:***@localhost:2705/mei_database
Done.
Done.
5 rows affected.

[('Minecraft', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010),
 ('Minecraft', 'X360', 'Microsoft Studios', 'Mojang', Decimal('13'), 2013),
 ('Minecraft', 'PS4', 'Sony Computer Entertainment', 'Mojang', Decimal('6.33'), 2014),
 ('Minecraft', 'PS3', 'Sony Computer Entertainment America', 'Mojang', Decimal('6.05'), 2014),
 ('Minecraft', 'XOne', 'Microsoft Studios', 'Mojang', Decimal('5.43'), 2014)]

In [5]:
%%sql
DROP VIEW IF EXISTS reviews;

CREATE VIEW reviews AS
SELECT name, critic_score, user_score
FROM game_sales_data;

SELECT *
FROM reviews
WHERE name = 'Minecraft'

 * postgresql://postgres:***@localhost:2705/mei_database
Done.
Done.
9 rows affected.

[('Minecraft', Decimal('10'), Decimal('7.8')),
 ('Minecraft', Decimal('8.5'), None),
 ('Minecraft', Decimal('9.4'), None),
 ('Minecraft', Decimal('9.5'), None),
 ('Minecraft', None, None),
 ('Minecraft', None, None),
 ('Minecraft', Decimal('9.2'), None),
 ('Minecraft', Decimal('5.5'), None),
 ('Minecraft', Decimal('6.7'), None)]

In [6]:
%%sql
-- TOP 10 BEST SELLING GAMES
SELECT name, total_shipped FROM game_sales
ORDER BY total_shipped DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:2705/mei_database
10 rows affected.

[('Wii Sports', Decimal('82.9')),
 ('Super Mario Bros.', Decimal('40.24')),
 ('Counter-Strike: Global Offensive', Decimal('40')),
 ('Mario Kart Wii', Decimal('37.32')),
 ("PLAYERUNKNOWN'S BATTLEGROUNDS", Decimal('36.6')),
 ('Minecraft', Decimal('33.15')),
 ('Wii Sports Resort', Decimal('33.13')),
 ('Pokemon Red / Green / Blue Version', Decimal('31.38')),
 ('New Super Mario Bros.', Decimal('30.8')),
 ('New Super Mario Bros. Wii', Decimal('30.3'))]

In [7]:
%%sql
SELECT *
FROM game_sales
LEFT JOIN reviews
USING (name)
LIMIT 19
-- WHERE critic_score IS NULL AND user_score IS NULL

 * postgresql://postgres:***@localhost:2705/mei_database
19 rows affected.

[('Wii Sports', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('82.9'), 2006, Decimal('7.7'), Decimal('8')),
 ('Super Mario Bros.', 'NES', 'Nintendo', 'Nintendo EAD', Decimal('40.24'), 1985, Decimal('10'), Decimal('8.2')),
 ('Counter-Strike: Global Offensive', 'PC', 'Valve', 'Valve Corporation', Decimal('40'), 2012, Decimal('8'), Decimal('7.5')),
 ('Mario Kart Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('37.32'), 2008, Decimal('8.2'), Decimal('9.1')),
 ("PLAYERUNKNOWN'S BATTLEGROUNDS", 'PC', 'PUBG Corporation', 'PUBG Corporation', Decimal('36.6'), 2017, Decimal('8.6'), Decimal('4.7')),
 ('Minecraft', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010, Decimal('6.7'), None),
 ('Minecraft', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010, Decimal('5.5'), None),
 ('Minecraft', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010, Decimal('9.2'), None),
 ('Minecraft', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010, None, None),
 ('Minecraft', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010, None, None),
 ('Minecraft', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010, Decimal('9.5'), None),
 ('Minecraft', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010, Decimal('9.4'), None),
 ('Minecraft', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010, Decimal('8.5'), None),
 ('Minecraft', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010, Decimal('10'), Decimal('7.8')),
 ('Wii Sports Resort', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('33.13'), 2009, Decimal('8'), Decimal('8.8')),
 ('Pokemon Red / Green / Blue Version', 'GB', 'Nintendo', 'Game Freak', Decimal('31.38'), 1998, Decimal('9.4'), Decimal('8.8')),
 ('New Super Mario Bros.', 'DS', 'Nintendo', 'Nintendo EAD', Decimal('30.8'), 2006, Decimal('9.1'), Decimal('8.1')),
 ('New Super Mario Bros. Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('30.3'), 2009, Decimal('8.6'), Decimal('9.2')),
 ('Tetris', 'GB', 'Nintendo', 'Bullet Proof Software', Decimal('30.26'), 1989, None, None)]

In [8]:
%%sql
-- Select a count of the number of games where both critic_score and user_score are null
SELECT (SELECT COUNT(name)
FROM game_sales
LEFT JOIN reviews
USING (name)
WHERE critic_score IS NULL AND user_score IS NULL
) AS count_score, COUNT(*)

 * postgresql://postgres:***@localhost:2705/mei_database
1 rows affected.

[(17248, 1)]

In [9]:
%%sql
SELECT COUNT(*)
FROM game_sales

 * postgresql://postgres:***@localhost:2705/mei_database
1 rows affected.

[(19600,)]